/* Defaults */
/*body {
  background: #FFF;
  color: #465665;
}*/

a {
  color: #344350;
  /*transition: all .25s ease-in-out;*/
}

/* The title */
.gallery_title {
  font-family: 'Joselin Sans';
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-top: 30px;
}

/* The description */
.gallery_desc-haut {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  font-family: Georgia, serif;
}

/* Text-centering */
.gallery_title,
.gallery_desc,
.gallery_intro {
  text-align: center;
}

/* Intro section / lignes doubles en deco */
.gallery_intro {
  text-align: center;
  margin: 1.75em 0 .75em;
  border-bottom: 3px double rgba(0, 0, 0, 0.25);
  margin-bottom: 1.75em;
}
/*
.intro a:hover {
  opacity: 1;
}*/

.gallery_intro h3 {
  font-size: .825em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin: .25em .75em .75em;
}

.gallery_intro h3 a {
  font-weight: 400;
  color: #4f0909;
}

.gallery_desc-REZ {
  border-top: 1px solid rgba(182, 182, 182, 0.8);
  font-size: 16px;
  padding: 10px 50px 10px 50px;
}

.gallery_intro-selected {
  color: #4f0909;
}

span { 
  font-weight: 700;
}

/* ARIANE */
.ariane {
  font-family: 'Joselin Sans';
  font-size: 15px;
  color: #444444;
  text-decoration: none;
  padding-left: 60px;
  padding-top: 10px;
}

/* Intro button */

.gallery_buttons {
  display: flex;
  text-align: center;
  /*flex-direction: row;*/
}

.gallery_buttons-center {
  margin: 20px;
  display: flex;
  /*flex-direction: row;*/
  flex-grow: 1;
}

.gallery_buttons-left {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.gallery_buttons-right {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/* BOUTON - bouton liseré or, texte majuscule or */
.button-reservation {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: 2px #cfbb49 solid;
  background-color: #fff;
  text-align: center;
  padding: 8px 30px;
  border-radius: 30px;
  margin-bottom: 75px;
  color: #4f0909;
  text-decoration: none;
}
/* effet survol */
.button-reservation:hover {
border: 2px #cfbb49 solid;
  background-color: #cfbb49;
  /*opacity: 0.8;*/
padding: 8px 30px;
border-radius: 30px;
margin-bottom: 75px;
color: #4f0909;
text-decoration: none;
}
/*fin BOUTON */


/* Masonry grid */
.masonry {
  transition: all .5s ease-in-out;
  column-gap: 30px;
  column-fill: initial;
}

/* Masonry item */
.masonry .brick {
  margin-bottom: 30px;
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
  transition: all .5s ease-in-out;
  backface-visibility: hidden; /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
  opacity: .75;
}

/* Bordered masonry */
.masonry.bordered {
  column-rule: 1px solid #eee;
  column-gap: 50px;
}

.masonry.bordered .brick {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}

/* Gutterless masonry */
.masonry.gutterless {
  column-gap: 0;
}

.masonry.gutterless .brick {
  margin-bottom: 0;
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .gallery_desc {
    font-size: 1.25em;
  }

  .gallery_intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 3;
  }
}

/* LABS ===============================================================================
=================================================================================== */

/**
 * RESET
 * Reference: http://meyerweb.com/eric/tools/css/reset/
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 main, menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
 
 article, aside, details, figcaption, figure,
 footer, header, hgroup, main, menu, nav, section {
   display: block;
 }
 
 body {
   line-height: 1.618;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 ol, ul {
   list-style: none;
 }
 
 blockquote, q {
   quotes: none;
 }
 
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 a {
   text-decoration: none;
 }
 
 code, pre, samp {
 font-family: monospace;
 }
 
 /**
  * BASIC TYPE
  */
 
 img, video {
   max-width: 100%;
   vertical-align: middle;
 }
 
 p {
   margin: 0 0 1em;
 }
 
 h1, h2, h3, h4 {
   margin: .5em 0 .75em;
   line-height: 1.3;
 }
 
 h1 {
   font-size: 1.5em;
 }
 
 h2 {
   font-size: 1.25em;
 }
 
 h3 {
   font-size: 1.125em;
 }
 
 h4 {
   font-size: 1em;
 }
 
 /**
  * BOX HACKING
  */
 
 html {
   box-sizing: border-box;
 }
 
 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }
 
 /**
  * CLEAR FLOATS
  * Reference: http://w3bits.com/clearfix
  */
 
 .cf:after,
 .lab-grid:after {
   content: "";
   display: table;
   clear: both;
 }
 
/**
 * CONTENT WRAPPER
 */

 .wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5em;
  padding-left: 1.5em;
  max-width: 1080px;
}


/**
* MEDIA SETTINGS
*/

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.65em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }

  .w-full--d {
    width: 100%;
  }

  .w-three-quarters--d {
    width: 75%;
  }

  .w-two-thirds--d {
    width: 66.66666%;
  }

  .w-half--d {
    width: 50%;
  }

  .w-third--d {
    width: 33.33333%;
  }

  .w-quarter--d {
    width: 25%;
  }
}

@media only screen and (max-width: 767px) {
  .lab-article-link span,
  .lab-share span {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .lab-follow {
    display: inline-block;
    position: fixed;
    right: -34px;
    bottom: 20%;
    transform: rotate(-90deg);
  }
}

@media only screen and (min-width: 768px) {
  .lab-grid {
    margin-left: -1.5em;
    width: calc( 100% + 1.5em );
  }

  .lab-grid-cell {
    float: left;
    padding-left: 1.5em;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.45em;
  }

  .lab-grid--3 .lab-grid-cell {
    width: 50%;
  }

  .w-full--t {
    width: 100%;
  }

  .w-three-quarters--t {
    width: 75%;
  }

  .w-two-thirds--t {
    width: 66.66666%;
  }

  .w-half--t {
    width: 50%;
  }

  .w-third--t {
    width: 33.33333%;
  }

  .w-quarter--t {
    width: 25%;
  }
}

@media only screen and (max-width: 767px) {
  .lab-share {
    text-align: right;
  }

  .w-full--m {
    width: 100%;
  }

  .w-three-quarters--m {
    width: 75%;
  }

  .w-two-thirds--m {
    width: 66.66666%;
  }

  .w-half--m {
    width: 50%;
  }

  .w-third--m {
    width: 33.33333%;
  }

  .w-quarter--m {
    width: 25%;
  }
}